<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @magazine_book.title %>
</p>

<%= link_to 'Edit', edit_magazine_book_path(@magazine_book) %> |
<%= link_to 'Back', magazine_books_path %>
